<nav class="navbar navbar-expand-sm navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ if .IsHome }}/#page-top{{ else }}{{ .Site.BaseURL }}{{ end }}" aria-label="Go back to the top of the page">
      <img src="/img/logo-hex.png" aria-label="satRday hex logo in blue" height="40px">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link"href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Talks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">People</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Get Involved</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">satRdays.org</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
<div id="home-jumbotron" class="jumbotron">


  <h1 id="page-top" class="display-1 text-white border-bottom border-5">
    {{ with .Site.Params.hero.title }}{{ . | markdownify }}{{ end }}</h1>

  <h5 class="display-5 text-white border-bottom border-5">
      {{ with .Site.Params.hero.subtitle }}{{ . | markdownify }}{{ end }}</h5>
  <div class="col-md-12 text-center p-3"><a href="#services" class="page-scroll btn btn-primary">{{ with
          .Site.Params.hero.buttonText }}{{ . }}{{ end
          }}</a>
  </div>
</div>